$baseBlack: #101010;
$baseGray: #f4f4f4;
$baseRed: #ff1515;

.container {
  overflow-x: hidden;
}

.search-input-wrapper {
  background: $baseGray;
  fieldset {
    border: none;
  }
}

.catalog-tab {
  height: 34px !important;
  min-height: initial !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  background-color: $baseGray !important;
  color: $baseBlack !important;
  transition: color 300ms ease !important;
  border-radius: 50px !important;
  border-bottom: none !important;
  margin-right: 0.3em !important;
}
.selected-catalog-tab {
  background: $baseBlack !important;
  color: #fff !important;
  z-index: 3;
}

.catalog-tab-indicator {
  display: none !important;
}

.size-element-catalog {
  background: $baseGray;
  border-radius: 6px;
  padding: 0.2em;
  color: $baseBlack;
  margin-right: 4px;
  margin-bottom: 4px;
  min-width: 22px;
  text-align: center;
}

.gray-button {
  background-color: $baseGray !important;
  color: $baseBlack !important;
  &:active,
  &:hover {
    background-color: $baseBlack !important;
    color: #fff !important;
  }
}

.black-button {
  background-color: $baseBlack !important;
  color: #fff !important;
  p:first-child {
    color: #fff;
  }
}

.counter-absolute-widget {
  position: absolute;
  right: 0;
  bottom: 0;
}

.counter-widget {
  .css-hjz1wm-MuiInputBase-root-MuiInput-root:before {
    border-bottom: 0;
  }
}

.basket-list-item-number {
  right: 0 !important;
}

.basket-list-item-number-red,
.basket-list-item-number,
.basket-list-total-item-regular,
.basket-list-total-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  height: 24px;
}

.basket-list-item-number-red {
  color: $baseRed;
}

.basket-list-total-item {
  padding-left: 0 !important;
}

.bold-font {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.bullet,
.active-bullet {
  display: block;
  height: 4px;
  border-radius: 50px;
  margin: 0.1em;
  transition: 0.2s ease;
}

.bullet {
  background-color: rgba(16, 16, 16, 0.3);
  width: 4px;
}

.active-bullet {
  width: 21px;
  background-color: #101010;
}

.goods-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.black-border {
  border: 1px solid $baseBlack !important;
}

.removeGoodModalWrapper,
.removeGoodModalSwitcher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.removeGoodModalWrapper {
  height: 100vh;
  transition: 0.3s ease;
}

.removeGoodModalSwitcher {
  height: calc(100vh - 370px);
}

.removeGoodModal {
  position: fixed;
  transition: 0.3s ease;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  height: 370px;
}

.active-remove-modal {
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 2;
  .removeGoodModal {
    bottom: 0;
  }
}

.removed-remove-modal {
  background-color: rgba($color: #000000, $alpha: 0);
  .removeGoodModal {
    bottom: -100%;
  }
}

.z-index-1 {
  z-index: -1;
}

.progress-primar {
  background-color: initial !important;
  border-bottom: 0.5px solid rgba(16, 16, 16, 0.1) !important;
  height: 3.5px !important;
  & > span {
    background-color: #00c667 !important;
  }
}

.black-disabled {
  color: #fff !important;
  opacity: 0.5;
}
